<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Client Deals - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
<!--header-->
<div style="height: 2em; display: flex">
    <div style="color: #cccccc; transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        DAG
    </div>
    <div style="transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        PARTS
    </div>
</div>
<hr>
<h3>Client {{.addr}}</h3>
<div>
    <span><a href="/">explore</a> / <a href="/clients">clients</a> / {{.addr}}</span>
</div>
<hr>
<!--/header-->
<h4>Providers</h4>
<table>
    <tr><td>Provider</td><td>Deals</td><td>Ping</td></tr>
    {{range .providers}}
        <tr><td><a href="/minersectors/{{.K}}">{{.K}}</a></td><td>{{.V}}</td><td><span id="ping{{.K}}" onload="pingMiner()">..</span></td></tr>
    {{end}}
</table>
<script>
    async function pingMiner(ma) {
        document.getElementById("ping"+ma).innerText = "connecting.."

        let r = await fetch("/ping/miner/"+ma)
        document.getElementById("ping"+ma).innerText = (await r.text()).split('\n')[0]
    }

    addEventListener('load', (_) => {
        {{range .providers}}
        pingMiner('{{.K}}')
        {{end}}
    })
</script>

<h4>Deals</h4>
<div>
    {{range .deals}}
        <div>
            <a href="/deal/{{.Deal}}">{{.Deal}}</a>
            <span>with <a href="/minersectors/{{.Prov}}">{{.Prov}}</a> ({{.Data}})</span>
        </div>
    {{end}}
</div>
</body>
</html>
