<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Providers - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav">
</head>
<body>
<table>
    {{range .miners}}
        <tr>
            <td>
                <a href="/minersectors/{{.Addr}}">{{.Addr}}</a>
            </td>
            <td>
                Locked: {{.Locked.Short}}
            </td>
            <td>
                <span id="ping{{.Addr}}" onload="pingMiner()">..</span>
            </td>
        </tr>
    {{end}}
</table>
<script>
async function pingMiner(ma) {
    document.getElementById("ping"+ma).innerText = "connecting.."

    let r = await fetch("/ping/miner/"+ma)
    document.getElementById("ping"+ma).innerText = (await r.text()).split('\n')[0]
}

addEventListener('load', (_) => {
    {{range .miners}}
        pingMiner('{{.Addr}}')
    {{end}}
})
</script>
</body>
</html>
