<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Providers - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
<!--header-->
<div style="height: 2em; display: flex">
    <div style="color: #cccccc; transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        DAG
    </div>
    <div style="transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        PARTS
    </div>
</div>
<hr>
<!--/header-->
<table>
    {{range .miners}}
        <tr>
            <td>
                <a href="/minersectors/{{.Addr}}">{{.Addr}}</a>
            </td>
            <td>
                Locked: {{.Locked.Short}}
            </td>
            <td>
                <span id="ping{{.Addr}}" onload="pingMiner()">..</span>
            </td>
        </tr>
    {{end}}
</table>
<script>
async function pingMiner(ma) {
    document.getElementById("ping"+ma).innerText = "connecting.."

    let r = await fetch("/ping/miner/"+ma)
    document.getElementById("ping"+ma).innerText = (await r.text()).split('\n')[0]
}

addEventListener('load', (_) => {
    {{range .miners}}
        pingMiner('{{.Addr}}')
    {{end}}
})
</script>
</body>
</html>
