<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Providers - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
<!--header-->
<div style="height: 2em; display: flex">
    <div style="color: #cccccc; transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        DAG
    </div>
    <div style="transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        PARTS
    </div>
</div>
<hr>
<h3>Providers</h3>
<div>
    <span><a href="/">explore</a> / providers</span>
</div>
<hr>
<!--/header-->
<i class="warn">warning: providers above 1PiB will be slow to open due to current lack of pagination</i>

<table>
    <tr><td><b>Provider</b></td><td>Owner</td><td>Market</td><td>Power</td><td>Ping Success Rate</td><td>Retrieval Success Rate</td></tr>
    {{$ping := .ping}}
    {{$retrieval := .retrieval}}
    {{range .miners}}
        <tr>
            <td>
                <a href="/provider/{{.Addr}}"><b>{{.Addr}}</b></a> (<i><a href="https://filfox.info/en/address/{{.Addr}}">filfox</a></i>)
            </td>
            <td>
                {{.Owner}} (<i><a href="https://filfox.info/en/address/{{.Owner}}">filfox</a></i>)
            </td>
            <td>
                {{.Locked.Short}}
            </td>
            <td class="size-{{.QAP | sizeClass}}">{{.QAP}}</td>
            <td>
                {{$stat := (index $ping .Addr)}}
                {{if ne nil $stat}}
                    <span class="{{if $stat.IsHealthy}}success{{else}}err{{end}}">{{$stat.SuccessPct}}</span>
                    {{(index $ping .Addr).Success}}/{{(index $ping .Addr).Fail}}
                    {{if gt $stat.Slow 0}}<span class="warn">({{$stat.SlowPct}} Slow</span>){{end}}
                {{else}}
                    <span class="warn">0%</span> 0/0
                {{end}}
            </td>
            <td>
                {{$rstat := (index $retrieval .Addr)}}
                {{if ne nil $rstat}}
                    <span class="{{if $rstat.IsHealthy}}success{{else}}err{{end}}">{{$rstat.SuccessPct}}</span>
                    <span {{if gt $rstat.Success 0}}class="success"{{end}}>{{$rstat.Success}}</span>/<span {{if gt $rstat.Fail 0}}class="err"{{end}}>{{$rstat.Fail}}</span>
                    <span class="size-{{$rstat.Bytes | sizeClass}}">{{$rstat.Bytes}}</span>
                {{else}}
                    <span class="warn">0%</span> 0/0
                    <span>0B</span>
                {{end}}
            </td>
        </tr>
    {{end}}
</table>
</body>
</html>
