<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ .maddr }} - Deals - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
<!--header-->
<div style="height: 2em; display: flex">
    <div style="color: #cccccc; transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        DAG
    </div>
    <div style="transform:scaleY(0.50); transform-origin: 0 0; font-size: 4em; font-weight: bold; height: 2em; font-family: 'Press Start 2P', serif;">
        PARTS
    </div>
</div>
<hr>
<!--/header-->
<div>
    <h3>Storage Provider {{.maddr}}</h3>
    <div>
        <span><a href="/">explore</a> / </span>
        <span><a href="/miners">storage providers</a> / </span>
        <span><a href="/minersectors/{{.maddr}}">{{.maddr}}</a></span>
    </div>

    <table>
        <tr><td><b>SP</b></td><td>{{.maddr}}</td></tr>
        <tr><td><b>Power</b></td><td>{{.qap}}</td></tr>
        <tr><td><b>Raw</b></td><td>{{.raw}}</td></tr>
        <tr><td><b>Ping</b></td><td><span id="ping{{.maddr}}" onload="pingMiner()">pinging..</span></td></tr>
    </table>

    <hr>

    <script>
        async function pingMiner(ma) {
            document.getElementById("ping"+ma).innerText = "connecting.."

            let r = await fetch("/ping/miner/"+ma)

            document.getElementById("ping"+ma).innerText = await r.text()
        }

        addEventListener('load', (_) => {
            pingMiner('{{.maddr}}')
        })
    </script>

    {{ $ma := .maddr }}
    {{ $deals := .deals }}
    {{range .sectors}}
        {{if (gt (len .DealIDs) 0)}}
                <div class="snum-sector">
                    <span>
                        <span>{{.SectorNumber}}</span>
                        <span class="snum-sector-activation">{{EpochTime .Activation}}</span>
                        {{if ne nil .SectorKeyCID}}<span class="snum-sector-snap">snap</span>{{end}}
                    </span>
                    <div>
                        {{range .DealIDs}}
                            <div class="snum-deal">
                                <div><a href="/deal/{{.}}">{{.}}</a> ({{ (index $deals .).Size }})</div>
                                <div><span class="snum-dealclient">from <a href="/client/{{ (index $deals .).Client }}">{{ (index $deals .).Client }}</a></span>{{if eq true ((index $deals .).Filplus) }}<span class="snum-sector-plus"> F+</span>{{end}}</div>
                                <div><span class="snum-dealcid">{{ (index $deals .).DealCID }}</span></div>
                            </div>
                        {{end}}
                    </div>
                </div>
        {{end}}
    {{end}}
</div>
</body>
</html>